@media (min-width: 992px) { .col-lg-3 { float: left; width:33.33%; } }
@media (min-width: 768px) and (max-width: 991px) { .col-md-3 { float: left; width: 50% } .col-md-30 { float: left; width: 100% } }
@media (max-width: 767px) { .col-sm-3 { float: left; width:100% } }

* { box-sizing: border-box; }

#title1 { 
	position:relative;
	width: 100px;
	margin-left: auto;
	margin-right: 0;
		}

#title2 { 
	position:relative;
	width: 100px;
	margin-left: auto;
	margin-right: 0;
		}

#title3 { 
	position:relative;
	width: 100px;
	margin-left: auto;
	margin-right: 0;
		}