* { box-sizing: border-box;
	font-family: "Trebuchet MS", cursive, sans-serif; }

@media (min-width: 992px) { .col-lg-3 { 
	width: 33.33%;
 	overflow: hidden;
 	padding: 20px;
 	float: left;

	} }

@media (min-width: 768px) and (max-width: 991px) { .col-md-3 {
	float: left;
	width: 50%;
 	overflow: hidden;
 	padding: 20px;
 
 }

	.col-md-30 { 
	clear: left;
	width: 100%;
 	overflow: hidden;
 	padding: 20px;
 

	} }

@media (max-width: 767px) { .col-sm-3 {
	float: left;
	width: 100%;
 	overflow: hidden;
 	padding: 20px;
 

	} }

.title1 { 
	position: relative;
	width: 250px;
	margin-left: auto;
	margin-right: 0;
	margin-top: 0;
	border: 1px solid black;
	text-align: center;
	padding: 20px;
	background-color: #FDFFA5;
	font-size: 125%;
		}

.title2 { 
	position: relative;
	width: 250px;
	margin-left: auto;
	margin-right: 0;
	margin-top: 0;
	border: 1px solid black;
	text-align: center;
	padding: 20px;
	background-color: #FDFFA5;
	font-size: 125%
		}

.title3 { 
	position: relative;
	width: 250px;
	margin-left: auto;
	margin-right: 0;
	margin-top: 0;
	border: 1px solid black;
	text-align: center;
	padding: 20px;
	background-color: #FDFFA5;
	font-size: 125%
		}

h1 { text-align:center;
	font-size: 175%; }

.innerbox {
	background-color: #B7DEFF;
	padding-left: 20px;
	position: relative;
	border: 1px solid black;
 	overflow: hidden;
}

ol {
	padding: 30px;
}